@font-face {
    font-family: "coolvita";
    src: url("../assets/Coolvetica.otf") format(truetype);
    font-weight: normal;
    font-style: normal;
}

#fastTrack{
    
    font-family: "coolvita";
}